* {
	padding: 0;
	margin: 0;
}

.floating-btn-switch {
	position: fixed;
	width: 65px;
    height: 65px;
	top: 130px;
	right: 130px;
	background-color: #00aee3;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
	z-index: 100;
}

.floating-btn-switch:hover {
	background-color: #0085ad;
}

.floating-btn-switch:active {
	transform: scale(0.9);
}

.floating-btn-switch img {
	width: 35px;
    height: 35px;
    margin: 15px;
	color: #fff;
}

.vertical-line {
	position: absolute;
	background-color: blue;
	width: 6px;
	top: 91px;
	bottom: 0px;
	left: 50%;
  }